//login
form.container(*ngIf='isLogin', [formGroup]='formularioLogin')

	.row
		.col-12
			.d-flex.justify-content-center.align-items-center
				.card
					.card-header
						span Faça login ou
						a((click)='isCadastro = true; isLogin = false')  Cadastre-se!
					.card-body
						.form-group
							label Email
							input.form-control(type='email', [(ngModel)]='email', formControlName='email')
						.form-group
							label Senha
							input.form-control(type='password', [(ngModel)]='senha', formControlName='senha')

						button.btn.btn-primary((click)='login()') Login

//cadastro
form.container(*ngIf='isCadastro', [formGroup]='formularioLogin')

	.row
		.col-12
			.d-flex.justify-content-center.align-items-center
					.card
						.card-header
							span Cadastre-se ou
							a((click)='isCadastro = false; isLogin = true')  Faça login!

						.card-body
							.form-group
								label Email
								input.form-control(type='email', [(ngModel)]='email', formControlName='email')
							.form-group
								label Senha
								input.form-control(type='password', [(ngModel)]='senha', formControlName='senha')

							button.btn.btn-primary((click)='cadastro()') Cadastrar

//produtos
div(*ngIf='canMakeActions')
	nav.navbar.navbar-dark.bg-primary
		button.btn.btn-primary.mr-3((click)='deslogar()') Logout
		button.btn.btn-primary.mr((click)='showCadastroProduto()') Cadastrar produto


	//criar produto
	form.container(*ngIf='isCadastroProduto', [formGroup]='formularioProduto')
		.row
			.col-12
				.d-flex.justify-content-center.align-items-center
						.card
							.card-header
								span Cadastro de produto

							.card-body
								.form-group
									label Nome
									input.form-control(type='text', [(ngModel)]='produto.nome', formControlName='nome')
								.form-group
									label descricao
									input.form-control(type='text', [(ngModel)]='produto.descricao', formControlName='descricao')
								.form-group
									label Valor
									input.form-control(type='number', [(ngModel)]='produto.valor', formControlName='valor')
								.form-group
									label Url da imagem do produto
									input.form-control(type='text', [(ngModel)]='produto.imageUrl', formControlName='imageUrl')

								button.btn.btn-primary((click)='cadastrarProduto()') Cadastrar

	//listar produtos
	.row(*ngIf='!isCadastroProduto')
		div.col-6(*ngFor='let produto of produtosAdicionados')
				.card
					.card-header
						span {{produto.nome}}

					.card-body
						.row
							label.mr-2 Descrição:
							span {{produto.descricao}}
						.row
							label.mr-2 Valor:
							span R${{produto.valor}}
						.row
							img([src]='produto.imageUrl')

